<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="development.media.adji_ap.cmo">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="development.media.adji_ap.cmo.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="development.media.adji_ap.cmo.MainActivity"
            android:label="@string/title_activity_welcome" />

        <activity
            android:name="development.media.adji_ap.cmo.HitungIkan"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="landscape"/>
        <activity
            android:name="development.media.adji_ap.cmo.AboutActivity"
            android:label="@string/title_activity_welcome" />
    </application>

</manifest>